__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
*.ipynb
*.log
data/
.env
venv/
venvnulldummy/
spark-warehouse/
*.db
*.sqlite3
*.egg-info/
*.egg
*.bak
*.tmp
*.swp
*.idea/
*.vscode/
.venv/
.git/
.gitignore
**/__pycache__/
**/.git
**/.venv
**/.idea
**/.vscode
**/*.pyc
**/*.pyo
**/*.egg-info
airflow/logs
airflow/db.sqlite3